/* Variables */

:root {
    --basic-white: #fff;
    --basic-black: #000;
    --basic-disabled: #9c9c9c;
    --basic-red: #ff0000;
    --basic-dark-grey: #333333;
}

/* Global */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.4;
}

.container {
    max-width: 2560px;
    margin: 0 auto;
    padding: 0px 40px;
}

* {
    box-sizing: border-box;
}

::after,
::before {
    box-sizing: inherit;
}

/* Промо 1 */
.promo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--basic-white);
    padding: 50px 20px;
    height: 100vh;
}

.promo__background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.promo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.promo__content {
    position: relative;
    padding: 20px;
}

.promo__title {
    font-size: 64px;
    padding-bottom: 70px;
}

.promo__wrap-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    padding-bottom: 60px;
}

.promo__image {
    width: 100%;
    max-width: 200px;
}

.promo__features {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    max-width: 600px;
    padding: 0;
}

.promo__feature {
    position: relative;
    font-size: 18px;
    text-align: left;
    padding-left: 20px;
}

.promo__feature::before {
    content: '';
    background-image: url('../img/icon-arrow.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 5px;
    left: -12px;
}

.order-button {
    font-size: 20px;
    color: var(--basic-white);
    background: var(--basic-red);
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.order-button:hover {
    transform: scale(1.1);
}

.order-button:active {
    transform: scale(1);
    background-color: rgba(255, 0, 0, 0.5);
}

/* Состав продукта */
.composition {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    background: linear-gradient(135deg, #fbc2eb 0%, #a6c1ee 100%);
    padding: 50px 20px;
    height: 100vh;
}

.composition__title {
    font-size: 42px;
    text-align: center;
    color: var(--basic-black);
    font-weight: bold;
    padding-bottom: 20px;
}

.composition__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 1200px;
}

.composition__image {
    width: 100%;
    max-width: 300px;
}

.composition__ingredients {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.composition__ingredient {
    text-align: center;
    padding: 10px;
}

.composition__ingredient-icon img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.composition__ingredient-text {
    font-size: 20px;
}

.composition__ingredient-icon {
    padding-bottom: 10px;
}

/* Отзывы */
.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #aa98c6 0%, #e8d5fc 100%);
    min-height: 764px;
    padding: 50px 20px;
    height: 100vh;
}

.reviews__title {
    font-size: 42px;
    text-align: center;
    color: var(--basic-black);
    font-weight: bold;
    padding-bottom: 20px;
}

.review-carousel {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    height: 100%;
    width: 100%;
    min-height: 527px;
    padding-top: 20px;
}

.review-carousel__item {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
    background-color: white;
    border-radius: 5px;

    width: 100%;
    min-height: 230px;
    max-width: 320px;
    padding: 20px 30px;
}

.review-carousel__item--visible {
    display: flex;
}

.review-carousel__item--active {
    display: flex;
    opacity: 1;
}

.review-carousel__item:hover {
    transform: scale(1.08);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.review-carousel__photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    padding-bottom: 10px;
}

.review-carousel__name {
    font-size: 24px;
    padding-bottom: 10px;
}

.review-carousel__text {
    font-size: 16px;
}

.review-carousel__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding-top: 20px;
}

.review-carousel__control {
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    z-index: 1;
    padding: 10px 20px;
}

.review-carousel__control:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.review-carousel__control:active {
    background-color: rgba(255, 255, 255, 0.5);
}

.review-carousel__control:disabled {
    background-color: var(--basic-disabled);
    cursor: not-allowed;
}

.review-carousel__item:hover,
.review-carousel__control:active {
    transform-origin: 50% 50%;
}

/* Промо 2 */
.promo-secondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, #fbc2eb 0%, #a6c1ee 100%);
    padding: 40px 20px;
    height: 100vh;
}

.promo-secondary__title {
    text-align: center;
    color: var(--basic-black);
    font-size: 42px;
    font-weight: bold;
    padding-bottom: 20px;
}

.promo-secondary__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 750px;
    align-items: center;
    padding-bottom: 30px;
}

.promo-secondary__wrap {
    display: flex;
    align-items: center;
    gap: 50px;
}

.promo-secondary__image {
    width: 100%;
    max-width: 300px;
}

.promo-secondary__description {
    font-size: 20px;
}

.promo-secondary__features {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}

/* Форма заказа */
.order-form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(135deg, #aa98c6 0%, #e8d5fc 100%);
    padding: 40px 20px;
    height: 100vh;
}

.order-form__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-form__title {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    color: var(--basic-black);
    padding-bottom: 20px;
}

.order-form__countdown {
    font-size: 22px;
    color: var(--basic-white);
    background-color: var(--basic-red);
    border-radius: 10px;
    padding: 10px;
}

.order-form__content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.order-form__wrap {
    display: flex;
    align-items: center;
    gap: 100px;
    width: 100%;
}

.order-form__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
}

.order-form__image {
    width: 80%;
    max-width: 300px;
    padding: 20px 0;
}

.order-form__prices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-bottom: 20px;
}

.order-form__price {
    font-size: 24px;
}

.order-form__price--old {
    text-decoration: line-through;
    color: var(--basic-disabled);
}

.order-form__price--new {
    color: var(--basic-red);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.order-form__input-wrapper {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.order-form__input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid var(--basic-disabled);
    border-radius: 5px;
    box-sizing: border-box;
}

.order-form__input--name:focus + .order-form__tooltip,
.order-form__input--phone:focus + .order-form__tooltip {
    display: block;
}

.order-form__tooltip {
    position: absolute;
    top: -25px;
    right: 10px;
    background: var(--basic-dark-grey);
    color: var(--basic-white);
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    display: none;
}

.order-form__submit-button {
    padding: 10px 20px;
    font-size: 18px;
    color: var(--basic-white);
    background: var(--basic-red);
    border: none;
    cursor: pointer;
}

/* Адаптив */

@media (max-width: 1024px) {
    .promo,
    .reviews,
    .promo-secondary {
        padding: 20px 20px;
    }

    .promo__title {
        font-size: 52px;
    }

    .promo__wrap-info {
        gap: 100px;
    }

    .promo__image {
        max-width: 150px;
    }

    .composition {
        gap: 20px;
        padding: 20px 20px;
    }

    .composition__title,
    .reviews__title,
    .promo__title,
    .order-form__title,
    .promo-secondary__title {
        font-size: 38px;
    }

    .order-button {
        font-size: 18px;
    }

    .composition__content {
        min-width: 900px;
    }

    .composition__ingredients {
        max-width: 250px;
    }

    .composition__image {
        max-width: 250px;
    }

    .composition__ingredient-text {
        font-size: 16px;
    }

    .reviews__title {
        padding-bottom: 0;
    }

    .review-carousel {
        padding-top: 0;
    }

    .review-carousel__name {
        font-size: 18px;
    }

    .review-carousel__text {
        font-size: 14px;
    }

    .review-carousel__photo {
        width: 80px;
        height: 80px;
    }

    .promo-secondary__title {
        padding-bottom: 10px;
    }

    .promo-secondary__image {
        max-width: 250px;
    }

    .promo-secondary__description {
        font-size: 18px;
    }

    .order-form__title {
        padding-bottom: 10px;
    }

    .order-form__image {
        max-width: 200px;
    }

    .order-form__form {
        min-width: 300px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0;
    }

    .promo,
    .composition,
    .reviews,
    .promo-secondary,
    .order-form {
        height: auto;
    }

    .promo__title {
        font-size: 34px;
        padding-bottom: 40px;
    }

    .promo__content {
        padding: 10px;
    }

    .promo__feature {
        font-size: 14px;
    }

    .promo__wrap-info {
        gap: 50px;
    }

    .composition__title,
    .reviews__title,
    .promo__title,
    .order-form__title,
    .promo-secondary__title {
        font-size: 32px;
    }

    .order-button {
        font-size: 16px;
    }

    .composition__content {
        min-width: 600px;
        gap: 20px;
    }

    .composition__image {
        max-width: 120px;
    }

    .composition__ingredient-icon img {
        width: 60px;
        height: 60px;
    }

    .review-carousel__item {
        max-width: 100%;
    }

    .review-carousel {
        flex-direction: column;
    }

    .promo-secondary__image {
        max-width: 200px;
    }

    .promo-secondary__description {
        font-size: 16px;
    }

    .order-form__image {
        max-width: 150px;
    }

    .order-form__prices {
        font-size: 14px;
    }
}

@media (max-width: 426px) {
    .composition__title,
    .reviews__title,
    .promo__title,
    .order-form__title,
    .promo-secondary__title {
        font-size: 24px;
    }

    .promo__title {
        padding-bottom: 20px;
    }

    .promo__wrap-info {
        flex-direction: column;
    }

    .promo__image {
        max-width: 100px;
    }

    .promo__feature,
    .composition__ingredient-text,
    .review-carousel__text,
    .promo-secondary__description {
        font-size: 12px;
    }

    .reviews {
        min-height: 0;
    }

    .order-button {
        font-size: 14px;
    }

    .promo__wrap-info {
        gap: 20px;
        padding-bottom: 20px;
    }

    .composition__title {
        padding-bottom: 0;
    }

    .composition__content {
        flex-direction: column;
        min-width: 100%;
    }

    .composition__ingredient-icon img {
        width: 50px;
        height: 50px;
    }

    .reviews__title {
        padding-bottom: 10px;
    }

    .review-carousel {
        gap: 15px;
        min-height: 0;
    }

    .review-carousel__name {
        font-size: 16px;
    }

    .review-carousel__photo {
        width: 50px;
        height: 50px;
    }

    .promo-secondary__wrap {
        flex-direction: column;
    }

    .promo-secondary__image {
        max-width: 150px;
    }

    .promo-secondary__description {
        padding: 0 30px;
    }

    .promo-secondary__features {
        font-size: 14px;
        flex-direction: column;
        gap: 10px;
    }

    .order-form__countdown {
        font-size: 16px;
    }

    .order-form__wrap {
        flex-direction: column;
        gap: 0;
    }

    .order-form__image {
        max-width: 100px;
    }

    .order-form__form {
        min-width: 200px;
    }
}
